@import '/src/styles/mixins.scss';
.formCon {
  width: 100%;
  @include centered;
  flex-direction: column;
  gap: 30px;
  @media (max-width: 630px) {
    width: 90%;
  }
}
.title {
  width: 90%;
  margin: 0 0 30px 0;
  @include flexbox(space-between, center);
  p {
    font-size: 24px;
    font-weight: 600;
    @media (max-width: 630px) {
      font-size: 16px;
    }
  }
  .clearBtn {
    width: 135px;
    height: 35px;
    background-color: var(--color-brown);
    color: var(--color-light);
    border-radius: 8px;
    box-shadow: 4px 4px 6px 0px #00000040;
    font-size: 12px;
    font-weight: 500;
    border: none;
  }
}

.inp {
  border: 1px solid var(--color-grey);
  font-size: 16px;
  font-weight: 500;
  border-radius: 8px;
  padding: 0 10px;
  height: 38px;
  width: 250px;
}
.rules {
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  background-color: #f8f8f8;
  color: #5d5d5f;
  align-self: flex-start;
  padding: 5px;
  border-radius: 5px;
  @media (max-width: 630px) {
    width: 90%;
  }
}

.blocks {
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 12fr;
  gap: 10px;
  p {
    font-size: 18px;
    font-weight: 600;
    span {
      color: #fe5e1d;
    }
  }

  @media (max-width: 630px) {
    grid-template-columns: 1fr;
  }
}

.blockItem {
  width: 100%;
  @include flexbox(flex-start, center);
  flex-direction: column;
  gap: 20px;
  flex-wrap: wrap;
}
.inputsCon {
  width: 100%;
  @include flexbox(flex-start, center);
  gap: 10px;
  flex-wrap: wrap;
}
.label {
  white-space: pre-line;
  font-size: 16px;
  font-weight: 500;
  color: #5d5d5f;
  margin: 0 10px;
  word-wrap: break-word;
}

.roundCheck {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none; /* Для Mozilla Firefox */
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 50%;
  border: 3px solid var(--color-grey);
  &:checked {
    background-color: var(--color-grey);
  }
}
.squareCheck {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none; /* Для Mozilla Firefox */
  width: 14px;
  height: 14px;
  background-color: white;
  border: 2px solid var(--color-grey);
  border-radius: 2px;
  &:checked {
    background-color: var(--color-grey);
  }
}

.bodyCon {
  .bodySelect {
    width: 260px;
  }
  .bodyChecks {
    @include centered;
    gap: 5px;
  }
}

.uploadTypeCon {
  .panel {
    @include flexbox(center, flex-start);
    flex-direction: column;
    gap: 5px;
    width: 220px;
    height: 140px;
    border: 1px solid var(--color-grey);
    border-radius: 8px;
    margin-left: 50px;
    .panelItem {
      @include centered;
      margin-left: 15px;
      label {
        font-size: 12px;
        margin: 0 5px;
      }
    }
    @media (max-width: 630px) {
      margin: 0;
    }
  }
}

.inp2 {
  width: 130px;
}

.blocks2 {
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 12fr;
  gap: 10px;
  p {
    font-size: 16px;
    font-weight: 500;
    color: #5d5d5f;
  }

  @media (max-width: 630px) {
    grid-template-columns: 1fr;
  }
}

.noteInp {
  width: 60%;
  height: 100px;
}

.btn {
  width: 270px;
  height: 60px;
  border-radius: 8px;
  color: var(--color-light);
  background-color: var(--color-brown);
  cursor: pointer;
  border: none;
  font-size: 20px;
  font-weight: 500;
  margin-left: auto;
  margin-right: 30px;

  @media (max-width: 630px) {
    width: 100%;
    margin: 0;
  }
}
