@import '/src/styles/mixins.scss';

.footer {
  width: 100%;
  height: 146px;
  @include centered;
  flex-direction: column;
  margin-top: 50px;
  @include devices(sm) {
    height: 320px;
  }
}

.con {
  width: 90%;
  height: 65px;
  @include flexbox(space-between, flex-end);
  @include devices(sm) {
    flex-direction: column;
  }
  @include devices(sm) {
    height: 200px;
  }
}

.phone {
  display: none;
  @include devices(sm) {
    width: 100%;
    @include centered;
    font-size: 14px;
    font-weight: 600;
  }
}

.loc {
  width: 33.3%;
  height: 20px;
  @include flexbox(flex-start, center);
  gap: 20px;
  @include devices(md) {
    width: 40%;
    gap: 10px;
  }
  @include devices(sm) {
    @include centered;
    width: 100%;
  }

  .loc_text {
    width: 171px;
    height: 18px;
    font-size: 14px;
    @include flexbox(space-between, center);
    @include devices(md) {
      width: 150px;
      font-size: 12px;
    }
    p {
      &:nth-child(1) {
        font-weight: 600;
      }
      &:nth-child(2) {
        font-weight: 400;
      }
    }
  }
}

.footer_logo {
  width: 33.3%;
  @include centered;
  img {
    &:nth-child(1) {
      @include devices(md) {
        display: none;
      }
    }
    &:nth-child(2) {
      display: none;
      @include devices(md) {
        display: block;
      }
    }
  }
  @include devices(md) {
    width: 20%;
  }
  @include devices(sm) {
    @include centered;
    width: 100%;
    order: -1;
  }
}

.sos {
  width: 33.3%;
  height: 20px;
  @include flexbox(flex-end, center);
  gap: 10px;
  cursor: pointer;
  @include devices(md) {
    width: 40%;
  }
  .email {
    @include centered;
    img {
      @media (max-width: 650px) {
        display: none;
      }
    }
    p {
      margin: 0 0 0 10px;
      font-size: 14px;
      font-weight: 600;
      @include devices(md) {
        font-size: 12px;
        margin-left: 5px;
      }
      @include devices(sm) {
        display: none;
      }
    }
  }
  .sos_icons {
    width: 107px;
    height: 24px;
    @include flexbox(space-between, center);
  }
  @include devices(sm) {
    @include centered;
    width: 100%;
  }
}
.privacy {
  margin-top: 32px;
  @include centered;
  gap: 45px;
  @include devices(sm) {
    flex-direction: column;
    gap: 20px;
  }
  p {
    font-size: 16px;
    @include devices(md) {
      font-size: 14px;
    }
    @include devices(sm) {
      font-size: 16px;
      &:nth-child(2) {
        font-weight: 300;
      }
    }
  }
}
.copyright {
  margin-top: 13px;
  font-size: 14px;
  @include devices(md) {
    font-size: 12px;
  }
  @include devices(sm) {
    margin-top: 20px;
    font-size: 14px;
  }
}
