@import '/src/styles/mixins.scss';

.cargoCon {
  background-color: red;
  width: 100%;
  @include flexbox(center, flex-start);
  flex-direction: column;
}
.inpCon {
  @include flexbox(center, flex-start);
  gap: 20px;
}
.inp {
  height: 37px;
  border-radius: 8px;
  border: 1px solid var(--color-grey);
  padding: 0 10px;
  width: 200px;
}
